/* Declaring custom properties */
* {
  box-sizing: border-box;
}

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid gray;

  z-index: -3;
}

.muneco {
  /* centramos verticalmente la patata */
  position: relative;

  margin: 0 auto;
  /* fin centrar verticalmente la patata */
  border: thin solid green;
  height: 30em;
  width: 30em;

}

.ojos {
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: green;
  border: thin solid blue;
}

.ojo {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  border: thin solid black;
  border-radius: 50%;

}

.pupila {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: purple;
  border: thin solid black;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.ojo-lt {
  position: absolute;
  left: 1em;
  top: 0;
}

.ojo-lb {
  position: absolute;
  left: 1em;
  bottom: 0;
}

.ojo-rt {
  position: absolute;
  right: 1em;
  top: 0;
}

.ojo-rb {
  position: absolute;
  right: 1em;
  bottom: 0;
}

.narices {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;

  top: 9em;

  background-color: blue;
  border: thin solid blue;

  z-index: 4;
}

.nariz {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: yellow;
  border: thin solid red;

 /* centrar la nariz*/
  margin: 0 auto;

  left: 3em;

}


.pies {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;

  bottom: 0;
  background-color: red;
  border: thin solid blue;

  z-index: -1;
}

.pie {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: black;
  border: thin solid red;
}

.pie-i {
  position: absolute;
  left: -2em;
}

.pie-d {
  position: absolute;
  right: -2em;
}
